.entradaValores input {
    display: flex;
    margin-bottom: 10px;
}

#resultado {
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    font-size: 18PX;
}

.cabecalho h1 {
    background-color: brown;
    color: rgb(255, 255, 255);
    display: flex;

}

.conteinerPrincipal {
    border: solid black;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(194, 194, 194);
}

body {
    background-color: rgb(124, 173, 173);
}
